<header>
  <a [routerLink]="['/']" class="logo pull-left">
      <image 
        [src]="'./src/img/navigation-logo.png'"
        [alt]="'logo'"></image>
  </a>
  <ul class="nav navbar-nav navbar-left custom-navi" 
    *ngIf="categories.length > 0">
    <li *ngFor="let category of categories">
      <a [routerLink]="['products', category.link]">{{category.title[language.language]}}</a>
    </li>
    <li>
      <a [routerLink]="['contacts']">{{language.getTexts('headerContact')}}</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right custom-navi" 
    *ngIf="categories.length > 0">
    <li>
      <a [routerLink]="['cart']" class="cart">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
      </a>
    </li>
    <li>
      <input type="text" class="form-control" placeholder="{{language.getTexts('headerSearchFor')}}">
    </li>
    <li>
      <button type="submit" class="btn btn-default">{{language.getTexts('headerSearch')}}</button>
    </li>
    <li class="flag" (click)="changeLanguage()">
      <image 
        [src]="'./src/img/' + language.nextLanguage() + '.png'"
        [alt]="language.language"></image>
    </li>
  </ul>
</header>
