<!-- big-->
<md-toolbar *ngIf="categories.length > 0"  color="primary" class="hidden-md hidden-sm hidden-xs">
  <a [routerLink]="['/']" class="logo pull-left">
    <img 
      src="./src/img/navigation-logo.png"
      alt="logo"/>
  </a>
  <template ngFor #categoryObject [ngForOf]="categories" let-index="index">
    <button md-button [routerLink]="['products', categories[index].link]">
      {{categories[index].title[dictionary.language]}}
    </button>
  </template>
  <button md-button [routerLink]="['contacts']">
    {{dictionary.getTexts('headerContact')}}
  </button>
  <span class="fill-remaining-space"></span>
  <md-icon [routerLink]="['cart']">add_shopping_cart</md-icon>
  <search></search>
  <button md-icon-button (click)="changeLanguage()">
    <image 
      [src]="'./src/img/' + dictionary.nextLanguage() + '.png'"
      [alt]="dictionary.language"></image>
  </button>
</md-toolbar>
<!-- just small -->
<md-toolbar *ngIf="categories.length > 0"  color="primary" class="hidden-lg hidden-xs">
  <a [routerLink]="['/']" class="logo pull-left">
    <img 
      src="./src/img/navigation-logo.png"
      alt="logo"/>
  </a>
  <button class="categories-button" md-icon-button [mdMenuTriggerFor]="menu">
    {{dictionary.getTexts('headerCategories') | uppercase}}
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <template ngFor #categoryObject [ngForOf]="categories" let-index="index">
      <button md-menu-item [routerLink]="['products', categories[index].link]">
        {{categories[index].title[dictionary.language]}}
      </button>
    </template>
  </md-menu>
  <span class="fill-remaining-space"></span>
  <button md-button [routerLink]="['contacts']">
    {{dictionary.getTexts('headerContact')}}
  </button>
  <md-icon [routerLink]="['cart']">add_shopping_cart</md-icon>
  <search></search>
  <button md-icon-button (click)="changeLanguage()">
    <image 
      [src]="'./src/img/' + dictionary.nextLanguage() + '.png'"
      [alt]="dictionary.language"></image>
  </button>
</md-toolbar>
<!-- just tiny -->
<md-toolbar *ngIf="categories.length > 0"  color="primary" class="hidden-lg hidden-md hidden-sm">
  <a [routerLink]="['/']" class="logo pull-left">
    <img 
      src="./src/img/navigation-logo.png"
      alt="logo"/>
  </a>
  <button class="categories-button" md-icon-button [mdMenuTriggerFor]="menu">
    {{dictionary.getTexts('headerCategories') | uppercase}}
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <template ngFor #categoryObject [ngForOf]="categories" let-index="index">
      <button md-menu-item [routerLink]="['products', categories[index].link]">
        {{categories[index].title[dictionary.language]}}
      </button>
    </template>
    <button md-menu-item [routerLink]="['contacts']">
      {{dictionary.getTexts('headerContact')}}
    </button>
  </md-menu>
  <span class="fill-remaining-space"></span>
  <md-icon [routerLink]="['cart']">add_shopping_cart</md-icon>
  <search></search>
  <button md-icon-button (click)="changeLanguage()">
    <image 
      [src]="'./src/img/' + dictionary.nextLanguage() + '.png'"
      [alt]="dictionary.language"></image>
  </button>
</md-toolbar>