<!-- big-->
<mat-toolbar *ngIf="categories.length > 0"  color="primary" class="hidden-md hidden-sm hidden-xs">
  <a [routerLink]="['/']" class="logo pull-left">
    <img 
      src="./src/img/navigation-logo.png"
      alt="logo"/>
  </a>
  <ng-template ngFor #categoryObject [ngForOf]="categories" let-index="index">
    <button md-button [routerLink]="['products', categories[index].link]">
      {{categories[index].title[dictionary.language]}}
    </button>
  </ng-template>
  <button md-button [routerLink]="['contacts']">
    {{dictionary.getTexts('headerContact')}}
  </button>
  <span class="fill-remaining-space"></span>
  <mat-icon [routerLink]="['cart']">add_shopping_cart</mat-icon>
  <search></search>
  <button mat-icon-button (click)="changeLanguage()">
    <image 
      [src]="'./src/img/' + dictionary.nextLanguage() + '.png'"
      [alt]="dictionary.language"></image>
  </button>
</mat-toolbar>
<!-- just small -->
<mat-toolbar *ngIf="categories.length > 0"  color="primary" class="hidden-lg hidden-xs">
  <a [routerLink]="['/']" class="logo pull-left">
    <img 
      src="./src/img/navigation-logo.png"
      alt="logo"/>
  </a>
  <button class="categories-button" mat-icon-button [matMenuTriggerFor]="menu">
    {{dictionary.getTexts('headerCategories') | uppercase}}
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ng-template ngFor #categoryObject [ngForOf]="categories" let-index="index">
      <button md-menu-item [routerLink]="['products', categories[index].link]">
        {{categories[index].title[dictionary.language]}}
      </button>
    </ng-template>
  </mat-menu>
  <span class="fill-remaining-space"></span>
  <button md-button [routerLink]="['contacts']">
    {{dictionary.getTexts('headerContact')}}
  </button>
  <mat-icon [routerLink]="['cart']">add_shopping_cart</mat-icon>
  <search></search>
  <button mat-icon-button (click)="changeLanguage()">
    <image 
      [src]="'./src/img/' + dictionary.nextLanguage() + '.png'"
      [alt]="dictionary.language"></image>
  </button>
</mat-toolbar>
<!-- just tiny -->
<mat-toolbar *ngIf="categories.length > 0"  color="primary" class="hidden-lg hidden-md hidden-sm">
  <a [routerLink]="['/']" class="logo pull-left">
    <img 
      src="./src/img/navigation-logo.png"
      alt="logo"/>
  </a>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ng-template ngFor #categoryObject [ngForOf]="categories" let-index="index">
      <button mat-menu-item [routerLink]="['products', categories[index].link]">
        {{categories[index].title[dictionary.language]}}
      </button>
    </ng-template>
    <button mat-menu-item [routerLink]="['contacts']">
      {{dictionary.getTexts('headerContact')}}
    </button>
  </mat-menu>
  <span class="fill-remaining-space"></span>
  <mat-icon [routerLink]="['cart']">add_shopping_cart</mat-icon>
  <search></search>
  <button mat-icon-button (click)="changeLanguage()">
    <image 
      [src]="'./src/img/' + dictionary.nextLanguage() + '.png'"
      [alt]="dictionary.language"></image>
  </button>
</mat-toolbar>