.carousel {
  height: 100%;
  overflow: hidden;
  position: relative; 
}
.carousel .radio-buttons-container {
    text-align: center;
}
.carousel .slides-container {
    height: 100%;
    position: relative; 
    transition: margin 0.5s ease-in-out
}
.carousel .slides-container .slide {
    display: inline-block
}
.carousel .slides-container .slide div {
    text-align: center;
}
.carousel .slides-container .slide img:first-child {
    max-width: 100%;
    max-height: 100%; 
}
.carousel .left-arrow-button,
.carousel .right-arrow-button {
    position: absolute;
    margin: auto !important;
    top: 0;
    bottom: 0; 
}
.carousel .right-arrow-button {
    right: 0;
}
.carousel .mat-icon-button {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0; 
}
.carousel .mat-icon-button mat-icon {
    color: #ffffff;
    width: 48px;
    height: 48px;
    font-size: 48px;
    cursor: pointer;
    outline: none !important; 
}
.carousel .radio-buttons-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%; 
}
.carousel .radio-buttons-container mat-radio-button {
    margin-right: 5px;
    outline: none; 
}
.carousel .radio-buttons-container mat-radio-button .md-off {
    border-color: #ffffff; 
}
