.product {
    margin-top: 20px;
    position: relative;
}

a {
    text-decoration-style: none;
    color: black;
}

.alert {
    margin-top: 100px;
}

.remove {
    position: absolute;
    right: 0;
    top: 0;
}