.phone-section, .map-section {
  padding-left: 100px;
}

.sebm-google-map-container {
  height: 500px;
}

.info-window-container img {
  height: 30px;
}

.company {
  text-align: center;
}

.red {
    color: red;
}

.yellow {
  color: yellow;
}

h2 {
  text-align: left;
}

.phone-section img {
  max-width: 50px;
}

.phone-section bold {
  font-weight: 900;
}

.phone-section .contact {
  margin-top: 14px;
}

.phone-section .contact.duo {
  margin-top: 8px;
}