<div class="container">
    <form #productEditForm="ngForm" class="medium-top-margin"
        role="form"
        id="productEditForm">

        <div class="form-group medium-top-margin">
            <label class="input-label">Title BG*</label>
            <input type="text" class="form-control"
                   [(ngModel)]="product.title['bg']"
                   placeholder="Title BG"
                   name="title"
                   required
                   pattern="^[A-Za-z'-]+$">
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">Title EN*</label>
            <input type="text" class="form-control"
                    [(ngModel)]="product.title['en']"
                    placeholder="Title EN*"
                    name="title"
                    required
                    pattern="^[A-Za-z'-]+$">
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">Description BG*</label>
            <textarea type="text" class="form-control"
                    [(ngModel)]="product.description['bg']"
                    placeholder="Description BG"
                    name="description"
                    required
                    pattern="^[A-Za-z'-]+$"></textarea>
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">Description EN*</label>
            <textarea type="text" class="form-control"
                    [(ngModel)]="product.description['en']"
                    placeholder="Description EN*"
                    name="description"
                    required
                    pattern="^[A-Za-z'-]+$"></textarea>
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">More Info BG*</label>
            <textarea type="text" class="form-control"
                    [(ngModel)]="product.moreInfo['bg']"
                    placeholder="More Info BG*"
                    name="moreInfo"
                    required
                    pattern="^[A-Za-z'-]+$"></textarea>
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">More Info EN*</label>
            <textarea type="text" class="form-control"
                    [(ngModel)]="product.moreInfo['en']"
                    placeholder="More Info EN"
                    name="moreInfo"
                    required
                    pattern="^[A-Za-z'-]+$"></textarea>
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">More Details BG*</label>
            <textarea type="text" class="form-control"
                    [(ngModel)]="product.moreDetails['bg']"
                    placeholder="More Details"
                    name="moreDetails"
                    required
                    pattern="^[A-Za-z'-]+$"></textarea>
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">More Details EN*</label>
            <textarea type="text" class="form-control"
                    [(ngModel)]="product.moreDetails['en']"
                    placeholder="More Details"
                    name="moreDetails"
                    required
                    pattern="^[A-Za-z'-]+$"></textarea>
        </div>
        
        <div class="form-group medium-top-margin">
            <label class="input-label">Params BG*</label>
            <textarea type="text" class="form-control"
                    [(ngModel)]="product.params['bg']"
                    placeholder="Params BG"
                    name="params"
                    required
                    pattern="^[A-Za-z'-]+$"></textarea>
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">Params EN*</label>
            <textarea type="text" class="form-control"
                    [(ngModel)]="product.params['en']"
                    placeholder="Params EN"
                    name="params"
                    required
                    pattern="^[A-Za-z'-]+$"></textarea>
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">Category*</label>
            <select name="energyType" class="form-control" [(ngModel)]="product.category">
                <option value=""></option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.title[getLanguage()]}}</option>
            </select>
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">New price*</label>
            <input type="number" class="form-control"
                    [(ngModel)]="product.newPrice"
                    placeholder="New price*"
                    name="newPrice"
                    required
                    pattern="^[0-9]+$">
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">Old price*</label>
            <input type="number" class="form-control"
                    [(ngModel)]="product.oldPrice"
                    placeholder="Old price"
                    name="oldPrice"
                    required
                    pattern="^[0-9]+$">
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">Is daily offer*</label>
            <input type="checkbox"
                    [(ngModel)]="product.isDailyOffer"
                    name="isDailyOffer"
                    required>
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">Index in the list*</label>
            <input type="number" class="form-control"
                    [(ngModel)]="product.zIndex"
                    placeholder="Index in the list*"
                    name="zIndex"
                    required
                    pattern="^[0-9]+$">
        </div>
        
        <div class="form-group medium-top-margin">
            <label class="input-label">Is shown on screen*</label>
            <input type="checkbox"
                    [(ngModel)]="product.isShown"
                    name="isShown"
                    required>
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">Count*</label>
            <input type="number" class="form-control"
                    [(ngModel)]="product.count"
                    placeholder="Count"
                    name="count"
                    required
                    pattern="^[0-9]+$">
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">Rating*</label>
            <input type="number" class="form-control"
                    [(ngModel)]="product.rating"
                    placeholder="Rating*"
                    name="rating"
                    required
                    pattern="^[0-5]+$">
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">Is new item*</label>
            <input type="checkbox"
                    [(ngModel)]="product.isNew"
                    name="isNew"
                    required>
        </div>
        
        <div class="form-group medium-top-margin">
            <label class="input-label">Is on carousel*</label>
            <input type="checkbox"
                    [(ngModel)]="product.isOnCarousel"
                    name="isOnCarousel"
                    required>
        </div>

        <div class="form-group medium-top-margin">
            <label class="input-label">Manafuctuer*</label>
            <input type="text" class="form-control"
                    [(ngModel)]="product.make"
                    placeholder="Manafuctuer*"
                    name="make"
                    required
                    pattern="^[A-Za-z'-]+$">
        </div>
        
        <div class="form-group medium-top-margin">
            <label class="input-label">Link of manafuctuer item*</label>
            <input type="text" class="form-control"
                    [(ngModel)]="product.link"
                    placeholder="Link of manafuctuer item"
                    name="link"
                    required>
        </div>

        <button type="button" class="btn btn-primary" 
            (click)="saveProduct()">
            Save product
        </button>
        
        <button type="button" class="btn btn-danger" 
            (click)="deleteProduct()">
            Delete product
        </button>
    </form>
  </div>