<div class="modal fade" bsModal #productModal="bs-modal" id="productModal" 
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="productModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" *ngIf="formOptions">
          <span>{{ dictionary.getTexts(formOptions.title) }}</span> 
          <span 
            *ngIf="formOptions.product.title">
            {{ formOptions.product.title[dictionary.language] }}</span>
        </h4>
      </div>
      <div class="modal-body" 
        *ngIf="formOptions.product.title"
        >
        <form 
          #feedback="ngForm" 
          (ngSubmit)="onSubmit(formOptions.product)"
          [formGroup]="ngForm">
            <!-- title -->
            <h4>{{ dictionary.getTexts('productTitle') }}</h4>
            <div class="col-xs-6">
              <label for="enTitle">BG</label>
              <input
                required="true" 
                type="text" 
                class="form-control" 
                [formControl]="ngForm.controls.titleBG" 
                placeholder="{{ dictionary.getTexts('productTitle') }}">
            </div>
            <div class="col-xs-6">
              <label for="bgTitle">EN</label>
              <input
                required="true" 
                type="text" 
                class="form-control" 
                [formControl]="ngForm.controls.titleEN" 
                placeholder="{{ dictionary.getTexts('productTitle') }}">
            </div>
            <!-- description -->
            <h4>{{ dictionary.getTexts('productDescription') }}</h4>
            <div class="col-xs-6">
              <label for="enTitle">BG</label>
              <textarea 
                required="true" 
                type="text" 
                class="form-control" 
                [formControl]="ngForm.controls.descriptionBG"  
                placeholder="{{ dictionary.getTexts('productDescription') }}"></textarea> 
            </div>
            <div class="col-xs-6">
              <label for="bgTitle">EN</label>
              <textarea
                required="true" 
                type="text" 
                class="form-control" 
                [formControl]="ngForm.controls.descriptionEN" 
                placeholder="{{ dictionary.getTexts('productDescription') }}"></textarea> 
            </div>
            <!-- more info -->
            <h4>{{ dictionary.getTexts('productMoreInfo') }}</h4>
            <div class="col-xs-6">
              <label for="enTitle">BG</label>
              <textarea 
                required="true" 
                type="text" 
                class="form-control" 
                [formControl]="ngForm.controls.more_infoBG"  
                placeholder="{{ dictionary.getTexts('productMoreInfo') }}"></textarea> 
            </div>
            <div class="col-xs-6">
              <label for="bgTitle">EN</label>
              <textarea 
                required="true" 
                type="text" 
                class="form-control" 
                [formControl]="ngForm.controls.more_infoEN" 
                placeholder="{{ dictionary.getTexts('productMoreInfo') }}"></textarea> 
            </div>
            <!-- more details -->
            <h4>{{ dictionary.getTexts('productMoreDetails') }}</h4>
            <div class="col-xs-6">
              <label for="enTitle">BG</label>
              <textarea 
                required="true" 
                type="text" 
                class="form-control" 
                [formControl]="ngForm.controls.more_detailsBG" 
                placeholder="{{ dictionary.getTexts('productMoreDetails') }}"></textarea> 
            </div>
            <div class="col-xs-6">
              <label for="bgTitle">EN</label>
              <textarea
                required="true" 
                type="text" 
                class="form-control" 
                [formControl]="ngForm.controls.more_detailsEN" 
                placeholder="{{ dictionary.getTexts('productMoreDetails') }}"></textarea> 
            </div>
            <!-- category -->
            <h4>{{ dictionary.getTexts('productCategory') }}</h4>
            <div class="col-xs-12">
              <select 
                class="col-xs-12"
                required="true" 
                [formControl]="ngForm.controls.category" >
                <option 
                  *ngFor="let category of categories"
                  value="{{ category.products }}"
                  [attr.value]="category.products">
                  {{ category.products }}
                </option>
              </select>
            </div>
            <!-- params -->
            <h4>{{ dictionary.getTexts('productParams') }}</h4>
            <div
              class="col-xs-6" >
              <label for="enTitle">BG</label>
              <template ngFor #productObject [ngForOf]="formOptions.product.params.bg" let-index="index">
                <input 
                  required="true" 
                  type="text" 
                  class="form-control" 
                  [formControl]="convert('ngForm.controls.paramsBG' + index)" 
                  placeholder="{{ dictionary.getTexts('productParams') }}">
              </template>
            </div>
            <div
              class="col-xs-6">
              <label for="bgTitle">EN</label>
              <template ngFor #productObject [ngForOf]="formOptions.product.params.en" let-index="index">
                <input 
                  required="true" 
                  type="text" 
                  class="form-control" 
                  [formControl]="convert('ngForm.controls.paramsEN' + index)"
                  placeholder="{{ dictionary.getTexts('productParams') }}">
              </template>
            </div>
            <!-- new price -->
            <h4>{{ dictionary.getTexts('productNewPrice') }}</h4>
            <div class="col-xs-12">
                <input 
                  class="col-xs-12"
                  required="true" 
                  type="text" 
                  class="form-control" 
                  [formControl]="ngForm.controls.new_price"
                  placeholder="{{ dictionary.getTexts('productNewPrice') }}">
            </div>
            <!-- old price -->
            <h4>{{ dictionary.getTexts('productOldPrice') }}</h4>
            <div class="col-xs-12">
                <input 
                  class="col-xs-12"
                  required="true" 
                  type="text" 
                  class="form-control" 
                  [formControl]="ngForm.controls.old_price"
                  placeholder="{{ dictionary.getTexts('productOldPrice') }}">
            </div>
            <!-- daily offer -->
            <h4>{{ dictionary.getTexts('productDailyOffer') }}</h4>
            <div class="col-xs-12">
                <input 
                  class="col-xs-12"
                  required="true" 
                  type="checkbox" 
                  class="form-control"
                  [formControl]="ngForm.controls.daily_offer">
            </div>
            <!-- z index -->
            <h4>{{ dictionary.getTexts('productZIndex') }}</h4>
            <div class="col-xs-12">
                <input 
                  class="col-xs-12"
                  required="true" 
                  type="text" 
                  class="form-control" 
                  [formControl]="ngForm.controls.zIndex"
                  placeholder="{{ dictionary.getTexts('productZIndex') }}">
            </div>
            <!-- shown -->
            <h4>{{ dictionary.getTexts('productShown') }}</h4>
            <div class="col-xs-12">
                <input 
                  class="col-xs-12"
                  required="true" 
                  type="checkbox" 
                  class="form-control" 
                  [formControl]="ngForm.controls.shown">
            </div>
            <!-- count -->
            <h4>{{ dictionary.getTexts('productCount') }}</h4>
            <div class="col-xs-12">
                <input 
                  class="col-xs-12"
                  required="true" 
                  type="text" 
                  class="form-control" 
                  [formControl]="ngForm.controls.count"
                  placeholder="{{ dictionary.getTexts('productCount') }}">
            </div>
            <!-- rating -->
            <h4>{{ dictionary.getTexts('productRating') }}</h4>
            <div class="col-xs-12">
                <input 
                  class="col-xs-12"
                  required="true" 
                  type="text" 
                  class="form-control" 
                  [formControl]="ngForm.controls.rating"
                  placeholder="{{ dictionary.getTexts('productRating') }}">
            </div>
            <!-- is_new -->
            <h4>{{ dictionary.getTexts('productIsNew') }}</h4>
            <div class="col-xs-12">
                <input 
                  class="col-xs-12"
                  required="true" 
                  type="checkbox" 
                  class="form-control" 
                  [formControl]="ngForm.controls.is_new">
            </div>
            <!-- carousel -->
            <h4>{{ dictionary.getTexts('productCarousel') }}</h4>
            <div class="col-xs-12">
                <input 
                  class="col-xs-12"
                  required="true" 
                  type="checkbox" 
                  class="form-control" 
                  [formControl]="ngForm.controls.carousel">
            </div>
            <!-- link -->
            <h4>{{ dictionary.getTexts('productLink') }}</h4>
            <div class="col-xs-12">
                <input 
                  class="col-xs-12"
                  required="true" 
                  type="text" 
                  class="form-control" 
                  [formControl]="ngForm.controls.link"
                  placeholder="{{ dictionary.getTexts('productLink') }}">
            </div>
            <!-- make -->
            <h4>{{ dictionary.getTexts('productMake') }}</h4>
            <div class="col-xs-12">
                <input 
                  class="col-xs-12"
                  required="true" 
                  type="text" 
                  class="form-control" 
                  [formControl]="ngForm.controls.make"
                  placeholder="{{ dictionary.getTexts('productMake') }}">
            </div>
            <!-- upload main image -->
            <h4>{{ dictionary.getTexts('productMainImage') }}</h4>
            <div class="col-xs-12">
              image {{ formOptions.product.main_image }}
              <input 
                type="file"
                (change)="fileChangeEvent($event)"
                class="col-xs-12"
                name="main_image">        
            </div>
            <!-- secondary images -->
            <h4>{{ dictionary.getTexts('productOtherImages') }}</h4>
            <div class="col-xs-12">
              <input 
                type="file"
                class="col-xs-12"
                (change)="fileChangeEvent($event)"
                name="more_images0">
              <template ngFor #productObject [ngForOf]="formOptions.product.other_images" let-index="index">
                 <input 
                  type="file"
                  class="col-xs-12"
                  (change)="fileChangeEvent($event)"
                  name="more_images{{index + 1}}">
              </template>
              add image
             
            </div>
            <div class="col-xs-12 buttons">
              <button 
                *ngIf="formOptions"
                (click)="onSubmit(formOptions.action)" 
                [disabled]="submited"
                [class.col-md-6]="formOptions.action == 'edit'"
                class="btn btn-primary col-xs-12">
                {{ dictionary.getTexts(formOptions.btnText) }}
              </button>
              <button 
                *ngIf="formOptions.action == 'edit'"
                (click)="onSubmit('delete')"
                [disabled]="submited"
                class="btn btn-danger col-md-6 col-xs-12">
                  {{ dictionary.getTexts('deleteBtn') }}
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>