@import '../../../variables';

:host {
    flex: 1 0 auto;
}

.contact-page {
    padding-bottom: 1rem;
    
    agm-map {
        height: 30rem;
    }
    
    .phone-contact {
        .col-xs-9 {
            padding-top: 2rem;
        }
        .icon {
            img {
                height: 30px;
            }
        
            i {
                font-size: 30px;
            }
        }
    }
    
    h3 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    button {
        width: 100%;
    }
}