@import '../../../variables';

:host {
    flex: 1 0 auto;
}

.contact-page {
    padding-bottom: 1rem;
    
    agm-map {
        height: 30rem;

        .row {
            margin-left: 0;
            margin-right: 0;

            .col-3,
            .col-9 {
                padding-left: 0;
                padding-right: 0;
            }
            
            img {
                max-height: 100%;
                max-width: 100%;
            }
            
            .orange,
            .fa-star {
              color: rgb(242, 118, 28)
            }
        }
    }
    
    .phone-contact {
        .col-xs-9 {
            padding-top: 2rem;
        }
        .icon {
            img {
                height: 30px;
            }
        
            i {
                font-size: 30px;
            }
        }
    }
    
    h3 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    button {
        width: 100%;
    }
}