<a [routerLink]="['/admin']">
  Back
</a>
<div class="container" *ngIf="products.length > 0">
  <div *ngFor="let category of categories" class="category-container">
    <h1>{{category.title[dictionary.language]}}</h1>
    <template ngFor #productObject [ngForOf]="productsByCategory(category)" let-index="index">
      <div class="col-xs-12 col-sm-12 col-md-4 product">
        <!-- TODO: Fix the way we implement products when se have time-->
        <div class="col-xs-12 product" (click)="showEditModal(productsByCategory(category)[index])">
          <div class="image-holder">
            <image 
              [src]="'/img/' + productsByCategory(category)[index].main_image"
              [alt]="productsByCategory(category)[index].title"
            ></image>
          </div>
          <div class="title">
            {{productsByCategory(category)[index].title[dictionary.language]}}
          </div>
          <div class="description">
            {{productsByCategory(category)[index].description[dictionary.language]}}
          </div>
          <div class="price">
            <span>{{dictionary.getTexts('price')}}</span>
            <span class="new-price">{{productsByCategory(category)[index].new_price}}</span>
            <span class="old-price">{{productsByCategory(category)[index].old_price}}</span>
          </div>
        </div>
      </div>
      <div *ngIf="index%3 == 2" class="clearfix visible-sm visible-md visible-lg"></div>
    </template>
    <div class="col-xs-12 col-sm-12 col-md-4 add-new" (click)="showAddNewModal()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </div>
    <div class="clearfix visible-sm visible-md visible-lg"></div>
  </div>
</div>
<admin-product-modal></admin-product-modal>