<a [routerLink]="['/admin']">
  Back
</a>
<div class="container" *ngIf="products.length > 0">
  <h1>All company products</h1>
  <template ngFor #productObject [ngForOf]="products" let-index="index">
    <div class="col-xs-12 col-sm-12 col-md-4 product">
      <div class="col-xs-12 product" (click)="showEditModal(products[index])">
        <div class="image-holder">
          <image 
            [src]="products[index].main_image"
            [alt]="products[index].title"
          ></image>
        </div>
        <div class="title">
          {{products[index].title[dictionary.language]}}
        </div>
        <div class="description">
          {{products[index].description[dictionary.language]}}
        </div>
        <div class="price">
          <span>{{dictionary.getTexts('price')}}</span>
          <span class="new-price">{{products[index].new_price}}</span>
          <span class="old-price">{{products[index].old_price}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="index%3 == 2" class="clearfix visible-sm visible-md visible-lg"></div>
  </template>
  <div class="col-xs-12 col-sm-12 col-md-4 add-new" (click)="showAddNewModal()">
     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </div>
</div>
<admin-product-modal></admin-product-modal>