<!-- TODO: set custom styles of the table -->
<table class="table">
  <thead>
    <!-- TODO: cycle thought all of the headers into a simple array -->
    <tr>

    </tr>
  </thead>
  <tbody>
    <!-- TODO: cycle thought all of the data from the back-end -->
    <!-- TODO: think about a dynamic making. There are 2 different types of table body -->
    <tr>
      
    </tr>
  </tbody>
  <tfoot>
    <!-- TODO: make it with custom width -->
    <tr>
      <td>Actions</td>
      <td>UP symbol</td>
    </tr>
  </tfoot>
</table>