<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        <img class="logo" src="./assets/images/logo.png" alt="logo">
        <span translate>Jilanov EOOD</span>
    </a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let category of categories"
                (click)="makeActiveTab(category.link)"
                class="nav-item">
                <a [class.active]="activeTab === category.link"
                    class="nav-link" [routerLink]="'/products/' + category.link" translate>{{category.name[language]}}</a>
            </li>
        </ul>
        <form
            class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" translate>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" translate>Search</button>
        </form>
    </div>
</nav>