<div class="container">
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th>Title</th>
          <th>Name</th>
          <th>Link</th>
          <th>Is on nav</th>
          <th>Edit</th>
        </tr>
        <tr>
          <th>
            <input name="title" type="text" class="form-control" [(ngModel)]="searchData.title" placeholder="Title" (change)="filterCategories($event)">
          </th>
          <th>
            <input name="name" type="text" class="form-control" [(ngModel)]="searchData.name" placeholder="Name" (change)="filterCategories($event)">
          </th>
          <th>
            <input name="link" type="text" class="form-control" [(ngModel)]="searchData.link" placeholder="Link" (change)="filterCategories($event)">
          </th>
          <th>
            <input name="shownOnNav" class="form-control" type="checkbox" [(ngModel)]="searchData.shownOnNav" (change)="filterCategories($event)"/>
          </th>
          <th>
              <span (click)="create()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{category.title[getLanguage()]}}</td>
          <td>{{category.name[getLanguage()]}}</td>
          <td>{{category.link}}</td>
          <td>
            <input type="checkbox" [checked]="category.shownOnNav" disabled />
          </td>
          <td class="text-center pointer">
              <span (click)="edit(category)">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>