<a [routerLink]="['/details', productObject.link]">
  <div class="col-xs-12 product">
    <div class="image-holder">
      <image 
        [src]="productObject.main_image"
        [alt]="productObject.title"></image>
      <div class="like">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      </div>
    </div>
    <div class="title">
      {{productObject.title[language.language]}}
    </div>
    <div>
      звездички за скор
      <rating [(ngModel)]="productObject.rating" max="5" stateOn="glyphicon-star"
          stateOff="glyphicon-star-empty"></rating>
    </div>
    <div class="params" *ngIf="productObject.params">
      <ul *ngFor="let params of productObject.params[language.language]">
        <li>{{params}}</li>
      </ul>
    </div>
    <div class="description">
      {{productObject.description[language.language]}}
    </div>
    <div class="price">
      <span>{{language.getTexts('price')}}</span>
      <span class="new-price">{{productObject.new_price}}</span>
      <span class="old-price">{{productObject.old_price}}</span>
    </div>
  </div>
</a>
<!-- Copy the design of http://www.sony.com/electronics/tv/t/televisions -->
<!-- {
    "_id": {
        "$oid": "5804f5114188d122ea5d5066"
    },
    "category": "ram",
    "main_image": "",
    "other_images": [],
    "title": "Kingston, Integral, DELL  PC3200",
    "description": {
        "bg": "Съвместима с INTEL и AMD дънни платки",
        "en": "Съвместима с INTEL и AMD дънни платкиEN"
    },
    "more_info": {
        "bg": "Допълнителна информация",
        "en": "Допълнителна информацияEN"
    },
    "more_details": {
        "bg": "Допълнителна информация",
        "en": "Допълнителна информацияEN"
    },
    "new_price": "16.00",
    "old_price": "",
    "daily_offer": true,
    "zIndex": 2,
    "shown": true,
    "count": 5,
    "is_new": false,
    "carousel": true,
    "link": "pamet_ddr400_1gb_patriot_pc3200",
    "make": "Kingston"
} -->