<!-- integrate animations for scale up input and nice feeling -->
<!-- Source: http://tympanus.net/codrops/2015/01/08/inspiration-text-input-effects/ -->
<!-- TODO: reward classes and css and remove unused values -->
<span class="input input--kaede">
  <input class="input__field input__field--kaede" type="text" id="input-35" />
  <label class="input__label input__label--kaede" for="input-35">
    <span class="input__label-content input__label-content--kaede">Search icon</span>
  </label>
</span>