<!-- <img 
[imageZoom]="'http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg'"
[lensStyle]="'LENS'"
[src]="'http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg'"> -->
<div class="main-image-container col-xs-12" *ngIf="zoomableImages">
  <img 
      [src]="'/img' + selectedImage || zoomableImages[0]"
      [alt]="alt">
</div>
<div class="sub-images-container col-xs-12">
  <div 
    class="sub-image-container" 
    *ngFor="let image of zoomableImages">
    <img 
      (click)="selectImage(image)"
      [src]="'/img' + image"
      [alt]="alt">
  </div>
</div>