div {
    padding: 0;
}

.main-image-container {
    height: 300px;
}

.sub-image-container {
    height: 80px;
    width: 80px;
    position: relative;
    display: inline-block;
}

.sub-image-container img {  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}