<!-- <img 
[imageZoom]="'http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg'"
[lensStyle]="'LENS'"
[src]="'http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg'"> -->
<div class="main-image-container col-xs-12" *ngIf="zoomableImages">
  <img 
      [src]="selectedImage || zoomableImages[0]"
      [alt]="selectedImage || zoomableImages[0]">
</div>
<div class="sub-images-container col-xs-12">
  <div 
    class="sub-image-container" 
    *ngFor="let imageCounter of zoomableImages">
    <img 
      (click)="selectImage(imageCounter)"
      [src]="imageCounter"
      [alt]="imageCounter">
  </div>
</div>