<div class="col-xs-12" *ngIf="product.title">
  <div class="col-md-3 col-xs-12 images-section">
    <zoomable-images [zoomableImages]="imagesArray"></zoomable-images>
  </div>
  <div class="col-md-7 col-xs-12 info-section">
    <h1>{{product.title[language.language]}}</h1>
    <h4>{{language.getTexts('detailsBy')}} {{product.make}}</h4>
    <rating [(ngModel)]="product.rating" max="5" stateOn="glyphicon-star"
          stateOff="glyphicon-star-empty"></rating>
    <h5 >{{language.getTexts('detailsStatus')}} 
      <strong *ngIf="product.count > 0">{{language.getTexts('detailsStock')}}</strong>
      <strong *ngIf="product.count == 0">{{language.getTexts('detailsNotStock')}}</strong>
    </h5>
    <h5 >{{language.getTexts('price')}} 
      <strong *ngIf="product.old_price.length > 0">
        <price [priceOptions]="productOldPrice"></price>
      </strong>
      <strong>
        <price [priceOptions]="productPrice"></price>
      </strong>
    </h5>
    <div class="params" *ngIf="product.params">
      <ul *ngFor="let params of product.params[language.language]">
        <li>{{params}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-2 col-xs-12 buy-section">

  </div>
</div>
<!-- {
    "_id": {
        "$oid": "5804f5114188d122ea5d507f"
    },
    "category": "videosecurity",
    "main_image": "",
    "other_images": [],
    "title": {
        "bg": "IP камера 4 МР  2560x1440 точки",
        "en": "IP камера 4 МР  2560x1440 точки"
    },
    "description": {
        "bg": "за външен монтаж Наблюдение на обекти до 100м.",
        "en": "Съвместима с INTEL и AMD дънни платкиEN"
    },
    "more_info": {
        "bg": "Видеопроцесор с възможност за персонална настройка на параметрите..",
        "en": "Допълнителна информацияEN"
    },
    "more_details": {
        "bg": "Комплектована с обектив 16 mm. Възможност за допълнително цифрово увеличение на картината. Вграден сървър за наблюдение през смартфон или компютър.",
        "en": "Допълнителна информацияEN"
    },
    "new_price": "170.00",
    "old_price": "",
    "daily_offer": false,
    "zIndex": 2,
    "shown": true,
    "count": 5,
    "is_new": false,
    "carousel": true,
    "link": "ip_camera_4mp_aptina_ccd_2560X1440px",
    "params": {
        "bg": [
            "Много бърза",
            "Адски бърза",
            "Твърде бърза"
        ],
        "en": [
            "Много бърза",
            "Адски бърза",
            "Твърде бърза"
        ]
    },
    "rating": 4.7,
    "make": "APTINA"
} -->