.logo {
  padding: 15px 0;
  font-size: 25px;
  color: #aaaaaa;
  font-weight: bold;
}

.login-form {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
  color: #999999;
  
  .main-login-form {
    position: relative;

    .login-group {
      background: #ffffff;
      color: #999999;
      border-radius: 8px;
      padding: 10px 20px;
      
      .form-group {
        margin-bottom: 0;
        border-bottom: 2px solid #efefef;
        padding-right: 20px;
        position: relative;

        &:last-child {
          border-bottom: 0
        }

        .form-control {
          border: 0;
          box-shadow: 0 0 0;
          border-radius: 0;
          background: transparent;
          color: #555555;
          padding: 7px 0;
          font-weight: bold;
          height:auto;
          
          &::-webkit-input-placeholder,
          &:-moz-placeholder,
          &::-moz-placeholder,
          &:-ms-input-placeholder {
            color: #999999;
          }
        }
      }
    }

    .login-button {
      position: absolute;
      right: -25px;
      top: 50%;
      background: #ffffff;
      color: #999999;
      width: 50px;
      height: 50px;
      margin-top: -25px;
      border: 5px solid #efefef;
      border-radius: 50%;
      transition: all ease-in-out 500ms;

      &:hover {
        color: #555555;
        transform: rotate(450deg);
      }

      &.clicked {
        color: #555555;

        &:hover {
          transform: none;
        }

        &.success {
          color: #2ecc71;
        }
        
        &.error {
          color: #e74c3c;
        }
      }

    }
  }
}