/* Loader CSS */
.loading {
    opacity: 0;
    transition: opacity .8s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #8fb5ee;
    z-index: -1;
}

.loading {
    opacity: 1;
    z-index: 100;
}

.loading .loader-text {
    position: absolute;
    top: 65%;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
}

.image {
    width: 150px;
    height: 120px;
    position: absolute;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.loader {
    border: 16px solid #3498db;
    /* Light grey */
    border-top: 16px solid #f3f3f3;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* media queries */
@media only screen and (max-width: 1000px) {
    custom-header {
        height: 200px;
    }
}
@media only screen and (max-width: 700px) {
    custom-header {
        height: 550px;
    }
}