/* carousel styles */
.carousel-indicators li {
    border: 1px solid lightgray!important;
}

.carousel-indicators li.active {
    border: 1px solid lightslategray!important;
}
slide img {
    max-height: 300px;
}

/* Component styles */

.no-paddings, custom-header {
    padding: 0!important;
}