<md-input-container>
  <input type="text" mdInput [formControl]="valueCtrl" [mdAutocomplete]="auto" placeholder="{{dictionary.getTexts('headerSearchFor')}}">
</md-input-container>

<md-autocomplete #auto="mdAutocomplete">
  <md-option (onSelect)="onProductSelect(i)" *ngFor="let value of filteredValues | async; let i = index" [value]="value">
    <md-grid-list cols="4" rowHeight="100px">
      <md-grid-tile
        [colspan]="1"
        [rowspan]="1">
        <div class="image-holder">
          <image 
              [src]="'img/' + filteredImages[i]"
              [alt]="option">
          </image>
        </div>  
      </md-grid-tile>
      <md-grid-tile
        [colspan]="3"
        [rowspan]="1">
        <div>{{ value }}</div>
      </md-grid-tile>
    </md-grid-list>
  </md-option>
</md-autocomplete>
