<input 
  [(ngModel)]="searchQuery"
  [typeahead]="products"
  [typeaheadItemTemplate]="customItemTemplate"
  [typeaheadOptionField]="'typeahed'"  
  [typeaheadOptionsLimit]="7"
  (typeaheadOnSelect)="onProductSelect($event)"
  class="form-control"
  placeholder="{{dictionary.getTexts('headerSearchFor')}}">

<template #customItemTemplate let-model="item" let-index="index">
  <h5 class="typeahead-container">
    <div class="image-holder">
      <image 
          [src]="'img/' + model.main_image"
          [alt]="model.title">
      </image>
    </div>
    <span>{{model.title[dictionary.language]}}</span>
  </h5>
</template>