<carousel [interval]="'3000'" [noWrap]="carouselOptions.noWrapSlides">
  <slide 
        *ngFor="let slidez of carouselOptions.slides; let index=index"
        [active]="slidez.active"
        (click)="openProduct(slidez)" 
        style="margin:auto;">
    <img src="{{slidez.main_image}}"/>

    <div class="carousel-caption" 
      *ngIf="slidez.title">
      <h4>{{carouselOptions.slides[index].title[dictionary.language]}}</h4>

      <p>{{carouselOptions.slides[index].description[dictionary.language]}}</p>
    </div>
  </slide>
</carousel>