<div *ngIf="product">
    <a [routerLink] = "['/categories/', categoryLink, product.link]">
        <span 
            *ngIf="product.isDailyOffer"
            class="offer-box box">
            <span translate>оферта</span>
        </span>
        <span 
            *ngIf="product.isNew"
            class="new-box box">
            <span translate>ново</span>
        </span>
        <span 
            *ngIf="product.count == 0"
            class="over-box box">
            <span translate>изчерпано</span>
        </span>
        <div class="col-xs-12 product"  itemscope itemtype="http://schema.org/Product">
            <div class="image-holder" itemprop="image">
            <img 
                [src]="'./assets/product-images/small/' + product.mainImage || blankImage"
                [alt]="product.title.bg"/>
            <!--<div class="like">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </div>-->
            </div>
            <div class="info-container">
            <h2 class="title" itemprop="name">
                {{product.title[language]}}
            </h2>
            <div itemprop="aggregateRating">
                <!--<rating [(ngModel)]="product.rating" max="5" stateOn="glyphicon-star"
                    stateOff="glyphicon-star-empty"></rating>-->
            </div>
            <div class="params" *ngIf="isArray(product.params[language])" itemprop="description">
                <ul *ngFor="let params of product.params[language]">
                <li 
                    *ngIf="params && params.length > 0"
                    >{{params}}</li>
                </ul>
            </div>
            <div class="description" itemprop="description">
                {{product.description[language]}}
            </div>
            <div class="button-container">
                <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
                <span class="new-price" itemprop="lowPrice">{{product.newPrice}}</span>
                <span class="old-price" itemprop="highPrice">{{product.oldPrice}}</span>
                <span class="currency" itemprop="priceCurrency" 
                    *ngIf="isNaN(product.newPrice)" translate>лева</span>
                </div>
                <button
                (click)="onAddToCart(product)"
                class="btn btn-success">
                    <span ranslate>Добави в количката</span>
                </button>
            </div>
            </div>
        </div>
    </a>   
</div>