//Colors
$webpage-base-white-color: #FFFFFF;
$webpage-base-gray-color: rgb(206, 206, 206);
$webpage-base-black-color: #000000;
$webpage-base-red-color: #FF0000;

$webpage-dark-font-color: #010101;

$webpage-link-color: rgb(38, 0, 255);