.ng-valid[required], .ng-valid.required  {
  border-right: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-right: 5px solid #a94442; /* red */
}

.no-padding {
    padding: 0;
}

button {
    width: 100%;
}