<div class="form-section">
  <h2>{{formOptions.title}}</h2>
  <form  #feedback="ngForm" (ngSubmit)="onSubmit(ngForm)" [formGroup]="ngForm">
    <div *ngFor="let field of formOptions.formFields" class="form-group">
      <label [attr.for]="field.targetName">{{field.label}}</label>
      <template *ngIf="field.inputType == 'textarea'">
        <textarea 
          [formControl]="ngForm.controls[field.targetName]" 
          [attr.required]="field.required" 
          class="form-control" 
          name={{field.targetName}} 
          id="{{field.targetName}}" 
          rows="3" 
          placeholder="{{field.placeholder}}">
        </textarea>
      </template>
      <template *ngIf="field.inputType != 'textarea'">
        <input 
          [formControl]="ngForm.controls[field.targetName]" 
          [attr.required]="field.required" 
          type={{field.inputType}} 
          class="form-control" 
          name={{field.targetName}} 
          id={{field.targetName}} 
          placeholder={{field.placeholder}}>
      </template>
    </div>
    <div class="alert alert-danger" *ngIf="wrongCaptcha">
      <strong>{{dictionary.getTexts('contactCaptchaTitle')}}</strong>
      <br/ >
      <span>{{dictionary.getTexts('contactCaptcha')}}</span>
    </div>
    <div class="form-group">
     <div class="col-xs-12 col-md-8 no-padding">
     <!-- <recaptcha
        name="captcha"
        required
        (resolved)="resolvedCaptcha($event)"
        siteKey="6Lf10xETAAAAAFoODW33iIglPTpRXndsVkUmUOQh"
      ></recaptcha> -->
     </div>
     <div class="col-xs-12 col-md-4 no-padding">
        <button 
          [disabled]="!ngForm.valid"
          class={{formOptions.submitBtn.class}}>
          {{formOptions.submitBtn.text}}
        </button>
     </div>
    </div>
  </form>
</div>